<template name="adminNav">

<nav class="navbar navbar-default uiNavbar" role="navigation">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand uiLogo" href="#">. . .</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav uiNav">
        <li><a class="btn btnAdd for-new-blog" href="#">+ Add post</a></li>
      </ul>
      
      <ul class="nav navbar-nav navbar-right">
        
        <li class="dropdown">
          <a href="#" class="dropdown-toggle userDrop" data-toggle="dropdown">Shtefcs <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Blog 1</a></li>
            <li><a href="#">Blog 2</a></li>
            <li><a href="#">Blog 3</a></li>
          </ul>
        </li>
        <li><a class="visitSite" href="#">Visit website</a></li>
      </ul>
    </div><!-- end .navbar-collapse -->
</nav>

<ul id="main-nav" class="nav navbar-nav pull-left">
    <li><a href=""><img class="svg" src="images/layers.svg" alt=""></a></li>
    <li><a href=""><img class="svg" src="images/pen_3.svg" alt=""></a></li>
    <li><a href=""><img class="svg" src="images/document.svg" alt=""></a></li>
    <li><a href=""><img class="svg" src="images/picture.svg" alt=""></a></li>
    <li><a href=""><img class="svg" src="images/user.svg" alt=""></a></li>
    <li><a href=""><img class="svg" src="images/cog.svg" alt=""></a></li>
    <li><a href=""><img class="svg" src="images/power.svg" alt=""></a></li>
</ul>
</template>